# Feature Engineering
Feature engineering merupakan sebuah proses untuk mengembangkan dan memilih suatu fitur atau atribut (features) yang akan digunakan untuk melakukan analisis data atau dalam melakukan pembuatan sebuah model machine learning. Pada penelitian ini, feature engineering akan digunakan untuk konversi (one-hot encoding) data kategorikal seperti fitur label sentiment dan label figure, yang dijadikan sebuah format yang dapat digunakan oleh sebuah model. (Skill, 2023b)

In [1]:
import pandas as pd

In [2]:
from warnings import filterwarnings
filterwarnings("ignore")

In [3]:
df_train = pd.read_csv('output/3_feature_extraction/train.csv')
df_test = pd.read_csv('output/3_feature_extraction/test.csv')
display(df_train)
display(df_test)

                                              full_text sentiment
0     @aewin86 Kapan lagi punya presiden hebat kayak...   negatif
1     Tujuannya counter Anies kemaren biar Anies ngo...    netral
2     @berlianidris @YantoThobenk Doa sepertiga mala...    netral
3     @FayaAtika sudah budhe. pakai etika pas duo ca...    netral
4     Ganjar-Mahfud memahami bahwa petugas pajak yan...   positif
...                                                 ...       ...
7353  @mirazh_me @ainunnajib @aniesbaswedan @cakimiN...   positif
7354  @indozonemedia Kemampuan memimpin mas Gibran t...   positif
7355  @PutraErlangga95 Jawaban singkat pak Anies seb...    netral
7356  #AMINajaDulu #AniesUnggul #PakaiOtakPakaiHati ...   positif
7357  AMIN KAN SAJA | NO 1 | ANIES BASWEDAN | MUHAIM...    netral

[7358 rows x 2 columns]

                                              full_text sentiment
0     Halo @KPU_ID ! Debat capres mana di dunia yg p...    netral
1     @tvOneNews Anies Efect Gus Imin pun menjadi se...   positif
2     @pakaipeci Lha saya lebih malu lagi punya wali...   negatif
3     @gibran_tweet Capresnya singgung masalag etika...    netral
4     @republikaonline Mas Gibran pemimpin yang cerd...   positif
...                                                 ...       ...
1948  Demi dapat surat mandat Untuk temen yang mau j...    netral
1949  @hedoooya @Luqbaehaqi Jangan lupa infokan ke r...    netral
1950  Investor akan merasa dihargai dengan upaya Gan...   positif
1951  TKN Prabowo-Gibran Hampiri Moderator saat Deba...    netral
1952  @afuadrizaldi @ShamsiAli2 Giliran Gibran dikat...    netral

[1953 rows x 2 columns]

In [4]:
df_train.loc[df_train['sentiment'] == 'positif', 'sentiment'] = df_test.loc[df_test['sentiment'] == 'positif', 'sentiment'] = 1
df_train.loc[df_train['sentiment'] == 'netral', 'sentiment'] = df_test.loc[df_test['sentiment'] == 'netral', 'sentiment'] = 0
df_train.loc[df_train['sentiment'] == 'negatif', 'sentiment'] = df_test.loc[df_test['sentiment'] == 'negatif', 'sentiment'] = -1
display(df_train)
display(df_test)

                                              full_text sentiment
0     @aewin86 Kapan lagi punya presiden hebat kayak...        -1
1     Tujuannya counter Anies kemaren biar Anies ngo...         0
2     @berlianidris @YantoThobenk Doa sepertiga mala...         0
3     @FayaAtika sudah budhe. pakai etika pas duo ca...         0
4     Ganjar-Mahfud memahami bahwa petugas pajak yan...         1
...                                                 ...       ...
7353  @mirazh_me @ainunnajib @aniesbaswedan @cakimiN...         1
7354  @indozonemedia Kemampuan memimpin mas Gibran t...         1
7355  @PutraErlangga95 Jawaban singkat pak Anies seb...         0
7356  #AMINajaDulu #AniesUnggul #PakaiOtakPakaiHati ...         1
7357  AMIN KAN SAJA | NO 1 | ANIES BASWEDAN | MUHAIM...         0

[7358 rows x 2 columns]

                                              full_text sentiment
0     Halo @KPU_ID ! Debat capres mana di dunia yg p...         0
1     @tvOneNews Anies Efect Gus Imin pun menjadi se...         1
2     @pakaipeci Lha saya lebih malu lagi punya wali...        -1
3     @gibran_tweet Capresnya singgung masalag etika...         0
4     @republikaonline Mas Gibran pemimpin yang cerd...         1
...                                                 ...       ...
1948  Demi dapat surat mandat Untuk temen yang mau j...         0
1949  @hedoooya @Luqbaehaqi Jangan lupa infokan ke r...         0
1950  Investor akan merasa dihargai dengan upaya Gan...         1
1951  TKN Prabowo-Gibran Hampiri Moderator saat Deba...         0
1952  @afuadrizaldi @ShamsiAli2 Giliran Gibran dikat...         0

[1953 rows x 2 columns]

In [5]:
tfidf_df_train = pd.read_parquet('output/3_feature_extraction/train_tfidf.parquet')
tfidf_df_test = pd.read_parquet('output/3_feature_extraction/test_tfidf.parquet')
display(tfidf_df_train)
display(tfidf_df_test)

,aa,aamiin,abad,abadi,abah,abai,abal,abang,abangan,abdee,...,zikir,zionis,zjk,zodiak,zon,zona,zonk,zul,zulhas,zulkifli
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7353,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7354,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7355,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7356,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7357,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,aa,abadi,abah,abai,abal,abang,abdi,abdul,abu,acah,...,zainal,zakir,zalim,zaman,zar,zidane,zionis,zon,zulhas,zulkifli
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1948,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1949,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1950,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1951,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1952,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
punctuation_df_train = pd.read_csv('output/3_feature_extraction/train_punctuation.csv')
punctuation_df_test = pd.read_csv('output/3_feature_extraction/test_punctuation.csv')
display(punctuation_df_train)
display(punctuation_df_test)

      _length  _exclamation  _question  _quote  _capital
0          15             0          0       0         0
1          18             0          0       0         0
2          26             0          0       1         0
3          18             0          0       0         0
4          22             1          0       0         0
...       ...           ...        ...     ...       ...
7353       10             0          0       0         0
7354        8             0          0       0         0
7355       29             0          0       0         1
7356       20             0          0       0         1
7357       17             0          0       0         9

[7358 rows x 5 columns]

      _length  _exclamation  _question  _quote  _capital
0          20             3          0       0         0
1           8             0          0       0         0
2          10             0          0       0         0
3          16             0          0       0         0
4          17             0          0       0         0
...       ...           ...        ...     ...       ...
1948       39             0          0       0         2
1949       32             0          0       0         0
1950       20             1          0       0         1
1951       14             0          0       0         2
1952       13             0          0       0         0

[1953 rows x 5 columns]

In [7]:
pos_tagging_df_train = pd.read_csv('output/3_feature_extraction/train_pos_tagging.csv')
pos_tagging_df_test = pd.read_csv('output/3_feature_extraction/test_pos_tagging.csv')
display(pos_tagging_df_train)
display(pos_tagging_df_test)

,NN,JJ,VB,RB,UH,NN_percentage,JJ_percentage,VB_percentage,RB_percentage,UH_percentage
0,5,1,3,1,0,0.333333,0.066667,0.200000,0.066667,0.0
1,4,2,3,2,0,0.222222,0.111111,0.166667,0.111111,0.0
2,5,0,3,1,0,0.192308,0.000000,0.115385,0.038462,0.0
3,7,1,5,0,0,0.388889,0.055556,0.277778,0.000000,0.0
4,5,3,3,0,0,0.227273,0.136364,0.136364,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...
7353,2,0,2,2,0,0.200000,0.000000,0.200000,0.200000,0.0
7354,2,0,2,2,0,0.250000,0.000000,0.250000,0.250000,0.0
7355,10,0,5,2,0,0.344828,0.000000,0.172414,0.068966,0.0
7356,9,0,3,0,0,0.450000,0.000000,0.150000,0.000000,0.0
7357,0,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.0

,NN,JJ,VB,RB,UH,NN_percentage,JJ_percentage,VB_percentage,RB_percentage,UH_percentage
0,9,1,1,2,0,0.450000,0.050000,0.050000,0.100000,0.0
1,0,0,2,1,0,0.000000,0.000000,0.250000,0.125000,0.0
2,3,1,1,3,0,0.300000,0.100000,0.100000,0.300000,0.0
3,5,0,2,2,0,0.312500,0.000000,0.125000,0.125000,0.0
4,2,0,3,2,0,0.117647,0.000000,0.176471,0.117647,0.0
...,...,...,...,...,...,...,...,...,...,...
1948,6,0,7,1,0,0.153846,0.000000,0.179487,0.025641,0.0
1949,16,1,3,2,0,0.500000,0.031250,0.093750,0.062500,0.0
1950,5,0,3,0,0,0.250000,0.000000,0.150000,0.000000,0.0
1951,1,0,0,0,0,0.071429,0.000000,0.000000,0.000000,0.0
1952,1,2,3,2,0,0.076923,0.153846,0.230769,0.153846,0.0

In [8]:
df_train = pd.concat([tfidf_df_train, punctuation_df_train, pos_tagging_df_train, df_train[['sentiment']]], axis=1)
df_test = pd.concat([tfidf_df_test, punctuation_df_test, pos_tagging_df_test, df_test[['sentiment']]], axis=1)
display(df_train)
display(df_test)

,aa,aamiin,abad,abadi,abah,abai,abal,abang,abangan,abdee,...,JJ,VB,RB,UH,NN_percentage,JJ_percentage,VB_percentage,RB_percentage,UH_percentage,sentiment
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,3,1,0,0.333333,0.066667,0.200000,0.066667,0.0,-1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2,3,2,0,0.222222,0.111111,0.166667,0.111111,0.0,0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,3,1,0,0.192308,0.000000,0.115385,0.038462,0.0,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,5,0,0,0.388889,0.055556,0.277778,0.000000,0.0,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3,3,0,0,0.227273,0.136364,0.136364,0.000000,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7353,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,2,2,0,0.200000,0.000000,0.200000,0.200000,0.0,1
7354,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,2,2,0,0.250000,0.000000,0.250000,0.250000,0.0,1
7355,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,5,2,0,0.344828,0.000000,0.172414,0.068966,0.0,0
7356,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,3,0,0,0.450000,0.000000,0.150000,0.000000,0.0,1
7357,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0.000000,0.000000,0.000000,0.000000,0.0,0

,aa,abadi,abah,abai,abal,abang,abdi,abdul,abu,acah,...,JJ,VB,RB,UH,NN_percentage,JJ_percentage,VB_percentage,RB_percentage,UH_percentage,sentiment
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,1,2,0,0.450000,0.050000,0.050000,0.100000,0.0,0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,2,1,0,0.000000,0.000000,0.250000,0.125000,0.0,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,1,3,0,0.300000,0.100000,0.100000,0.300000,0.0,-1
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,2,2,0,0.312500,0.000000,0.125000,0.125000,0.0,0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,3,2,0,0.117647,0.000000,0.176471,0.117647,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1948,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,7,1,0,0.153846,0.000000,0.179487,0.025641,0.0,0
1949,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,3,2,0,0.500000,0.031250,0.093750,0.062500,0.0,0
1950,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,3,0,0,0.250000,0.000000,0.150000,0.000000,0.0,1
1951,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0.071429,0.000000,0.000000,0.000000,0.0,0
1952,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2,3,2,0,0.076923,0.153846,0.230769,0.153846,0.0,0

In [9]:
df_train.to_parquet('output/4_feature_engineering/train.parquet', index=False)
df_test.to_parquet('output/4_feature_engineering/test.parquet', index=False)